p {
    color: purple;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    color: #E6E6FA;
    background-color: purple;
    text-align: center;
}

h2 {
    font-family: cursive;
    color: purple;
    background-color: lavender;
}

#hello-form {
    width: 500px;
    margin: 25px auto;
}