
body {
    background-image: url("/static/img/background.jpg");
    background-size: cover;

}


p {
    color: purple;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    color: #E6E6FA;
    background-color: purple;
    text-align: center;
}

h2 {
    font-family: cursive;
    color: purple;
    background-color: lavender;
}

#hello-form {
    width: 30%;
    margin: 25px auto;
    text-align: center;
}

form {
    color: purple;
}

#hello-submit {
    margin-top: 5px;
}