<!doctype html>
<html>
<head>
  <title>Game on!</title>
</head>
<body>
    <h1>Let's play a game!</h1>
    <form action="/madlib">
        Please pick a:
        <br><br>

        <label>Person:</label>
            <input type="text" name="madlib-person">
            <br>

        <label>Color:</label>
            <select name="color">
                <!-- prompt is selected as the default to show -->
                <option value="prompt" selected>select a color</option>
                <option value="red">Red</option>
                <option value="goldenrod">Gold</option>
                <option value="lavendar">Lavendar</option>
                <option value="no-like">I don't like colors</option>
            </select>
            <br>

        <label>Noun:</label>
            <input type="checkbox" name="noun" value="donut">
            <label>Donut</label>

            <input type="checkbox" name="noun" value="cookie">
            <label>Cookie</label>

            <input type="checkbox" name="noun" value="milkshake">
            <label>Milkshake</label>
            <br>

        <label>Adjective:</label>
            <textarea name="adjective"></textarea>
            <br>

        <input type="submit">
    </form>




</body>
</html>